<div class="page-header">
  <h3>Quiz Result #<%= @quiz_result.id %></h3>
</div>

<div class="row">
  <div class="col-md-12 mb-2">
    <dl class="dl-horizontal">
      <dt>User</dt>
      <dd><%= @quiz_result.user_id %></dd>

      <dt>Quiz</dt>
      <dd><%= @quiz_result.quiz_id %></dd>

      <dt>Score</dt>
      <dd><%= @quiz_result.score %></dd>

    </dl>

    <div class="btn-group btn-group-justified">
      <a href="/quiz_results" class="btn btn-primary">
        Back
      </a>
      <a href="/quiz_results/<%= @quiz_result.id %>/edit" class="btn btn-warning">
        Edit
      </a>
      <a href="/delete_quiz_result/<%= @quiz_result.id %>" class="btn btn-danger" rel="nofollow">
        Delete
      </a>
    </div>
  </div>
</div>
