<div class="page-header">
  <h3>Mini Quiz #<%= @mini_quiz.id %></h3>
</div>

<div class="row">
  <div class="col-md-12 mb-2">
    <dl class="dl-horizontal">
      <dt>Lesson</dt>
      <dd><%= @mini_quiz.lesson.lesson_name %></dd>

      <dt>Description</dt>
      <dd><%= @mini_quiz.description %></dd>

      <dt>Location</dt>
      <dd><%= @mini_quiz.location %></dd>

      <dt>Embed address</dt>
      <dd><%= @mini_quiz.embed_address %></dd>

    </dl>

    <div class="btn-group btn-group-justified">
      <a href="/mini_quizzes" class="btn btn-primary">
        Back
      </a>
      <a href="/mini_quizzes/<%= @mini_quiz.id %>/edit" class="btn btn-warning">
        Edit
      </a>
      <a href="/delete_mini_quiz/<%= @mini_quiz.id %>" class="btn btn-danger" rel="nofollow">
        Delete
      </a>
    </div>
  </div>
</div>
