<div class="page-header">
  <h1>
    Lessons
    <a href="/lessons/new" class="btn btn-lg btn-success">New Lesson</a>
  </h1>
</div>

<div class="row">
  <div class="col-md-8">

      <% @lessons.each do |lesson| %>
      <tr><div class="panel panel-default">
            <div class="panel-heading">
        <td><a class="btn btn-info" href="/lessons/<%= lesson.id %>"><%= lesson.lesson_name %></a></td></div>
      <div class="panel-body">
        <div class="form-group">
          <a href="/lessons/<%= lesson.id %>" class="btn btn-primary">Show</a>
          <a href="/lessons/<%= lesson.id %>/edit" class="btn btn-warning">Edit</a>
          <a href="/delete_lesson/<%= lesson.id %>" class="btn btn-danger" rel="nofollow">Delete</a>
        </div></div></div>
      </tr>
      <% end %>
    </table>
  </div>
</div>
