<div class="page-header">
  <h1><%= @lesson.lesson_name %></h1>
</div>

<div class="row">
  <div class="col-md-12 mb-2">
    <dl class="dl-horizontal">

      <dt>Video</dt>
      <dd><% @lesson.videos.each do |video| %>
        <embed height="450px" width="800px" src="<%= video.embed_address %>">
      <% end  %></dd>

      <dt>Resources</dt>
      <dd><dd><% @lesson.resources.each do |resource| %>
        <embed height="550px" width="800px" src="<%= resource.embed_address %>">
      <% end  %></dd></dd>

      <form action="/create_comment" method="post">
                    <!-- Hidden input for authenticity token to protect from forgery -->
          <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">

                    <!-- Label and input for year -->
          <div class="form-group">
      <label for="comment" class="control-label">
                        Add a Comment
      </label>
          <input type="text" id="comment" name="body" placeholder="Add a comment..." class="form-control" value="<%= @newcomment.body %>">
          <input name="lesson_id" type="hidden" value="<%= @lesson.id %>">
          <input name="user_id" type="hidden" value="<%= current_user.id %>">
        <button class="btn btn-success">
          <i class="fa fa-commenting-o" aria-hidden="true"></i>
        </button>
      </form>
    <% @lesson.comments.each do |comment| %>
      <div class="panel panel-default">
        <div class="panel-heading">
          <strong><%= comment.user.username %></strong>
        </div>
          <div class="panel-body">
            <%= comment.body %>
          </div>
        </div>
      <% end %>
      <% @lesson.favorites.each do |favorite| %>
      <% if favorite.user.id == current_user.id %>
        <div class="panel panel-default">
          <div class="panel-heading">
            <strong>This lesson is stored in your favorites.&nbsp;&nbsp;&nbsp;&nbsp; Click here to unlike. &nbsp;&nbsp;&nbsp;&nbsp;<a href="/delete_favorite/<%= @lesson.favorites.find_by(user_id: current_user.id).id%>" class="btn btn-danger">
        <i class="fa fa-heart"></i>
      </a>
            </div>
            <% else %>
          <div><form action="/create_favorite" method="post">
              <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">
               <input type="hidden" id="user_id" name="user_id" placeholder="User" class="form-control" value="<%= current_user.id %>">
               <input type="hidden" id="lesson_id" name="lesson_id" placeholder="User" class="form-control" value="<%= @lesson.id %>">
               <button class="btn btn-success">
                 <i class="fa fa-heart-o"></i>
               </button>
             </form></div>
            <% end %>
          </div>
        <% end %>


    </dl>

    <div class="btn-group btn-group-justified">
      <a href="/lessons" class="btn btn-primary">
        Back
      </a>
      <a href="/lessons/<%= @lesson.id %>/edit" class="btn btn-warning">
        Edit
      </a>
      <a href="/delete_lesson/<%= @lesson.id %>" class="btn btn-danger" rel="nofollow">
        Delete
      </a>
    </div>
  </div>
  <a href="/videos/new" class="btn btn-primary">Add a video</a>
  <a href="/resources/new" class="btn btn-success">Add a resource or document</a>
  <a href="/mini_quizzes/new" class="btn btn-info">Add a miniquiz</a>
</div>
