<div class="page-header">
  <h3>Lesson #<%= @lesson.id %></h3>
</div>

<div class="row">
  <div class="col-md-12 mb-2">
    <dl class="dl-horizontal">
      <dt>Lesson name</dt>
      <dd><%= @lesson.lesson_name %></dd>

      <dt>Video</dt>
      <dd><% @lesson.videos.each do |video| %>
        <embed height="315px" width="560px" src="<%= video.embed_address %>">
      <% end  %></dd>

      <dt>Resources</dt>
      <dd><dd><% @lesson.resources.each do |resource| %>
        <embed height="315px" width="560px" src="<%= resource.embed_address %>">
      <% end  %></dd></dd>

    </dl>

    <div class="btn-group btn-group-justified">
      <a href="/lessons" class="btn btn-primary">
        Back
      </a>
      <a href="/lessons/<%= @lesson.id %>/edit" class="btn btn-warning">
        Edit
      </a>
      <a href="/delete_lesson/<%= @lesson.id %>" class="btn btn-danger" rel="nofollow">
        Delete
      </a>
    </div>
  </div>
  <a href="/videos/new" class="btn btn-primary">Add a video</a>
  <a href="/resources/new" class="btn btn-success">Add a resource or document</a>
  <a href="/mini_quizzes/new" class="btn btn-info">Add a miniquiz</a>
</div>
