<div class="page-header">
  <h3>Resource #<%= @resource.id %></h3>
</div>

<div class="row">
  <div class="col-md-12 mb-2">
    <dl class="dl-horizontal">
      <dt>Lesson</dt>
      <dd><%= @resource.lesson_id %></dd>

      <dt>Description</dt>
      <dd><%= @resource.description %></dd>

      <dt>Location</dt>
      <dd><%= @resource.location %></dd>

      <dt>Embed address</dt>
      <dd><%= @resource.embed_address %></dd>

    </dl>

    <div class="btn-group btn-group-justified">
      <a href="/resources" class="btn btn-primary">
        Back
      </a>
      <a href="/resources/<%= @resource.id %>/edit" class="btn btn-warning">
        Edit
      </a>
      <a href="/delete_resource/<%= @resource.id %>" class="btn btn-danger" rel="nofollow">
        Delete
      </a>
    </div>
  </div>
</div>
