<!-- Validation failure messages -->
<% if @suggestion.errors.any? %>
  <% @suggestion.errors.full_messages.each do |message| %>
    <div class="alert alert-dismissable alert-danger">
      <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
      <%= message %>
    </div>
  <% end %>
<% end %>

<div class="page-header">
  <h3>Add Suggestion</h3>
  <p><h5>Help us improve this site! If you see a current lesson that needs improving, please indicate which lesson you'd like to improve below. If you have a suggestion for an entirely new lesson, please select the lesson to which it most closely relates.</h5></p></div>

<div class="row">
  <div class="col-md-12">
    <form action="/create_suggestion" method="post">
      <!-- Hidden input for authenticity token to protect from forgery -->
      <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">

      <!-- Label and input for user_id -->
      <div class="form-group">
        <!-- <label for="user_id" class="control-label">
          User
        </label> -->

        <input type="hidden" id="user_id" name="user_id" placeholder="User" class="form-control" value="<%= current_user.id %>">
      </div>

      <!-- Label and input for lesson_id -->
      <div class="form-group">
        <label for="lesson_id" class="control-label">
          Lesson
        </label>

        <%= select_tag(:lesson_id, options_from_collection_for_select(Lesson.all, :id, :lesson_name), :class => "form-control") %>
      </div>

      <!-- Label and input for link_to_resource -->
      <div class="form-group">
        <label for="link_to_resource" class="control-label">
          Link to resource
        </label>

        <input type="text" id="link_to_resource" name="link_to_resource" placeholder="Please make sure this is viewable as a webpage in a standard browser." class="form-control" value="<%= @suggestion.link_to_resource %>">
      </div>

      <!-- Label and input for reason_for_submitting -->
      <div class="form-group">
        <label for="reason_for_submitting" class="control-label">
          Reason for submitting
        </label>

        <textarea id="reason_for_submitting" name="reason_for_submitting" placeholder="What leads you to submit this? Does the lesson need to be improved? Do you think there's a gap in the current curriculum?" class="form-control" rows="3"><%= @suggestion.reason_for_submitting %></textarea>
      </div>

      <!-- Label and input for additional_comments -->
      <div class="form-group">
        <label for="additional_comments" class="control-label">
          Additional comments
        </label>

        <textarea id="additional_comments" name="additional_comments" placeholder="Additional comments" class="form-control" rows="3"><%= @suggestion.additional_comments %></textarea>
      </div>

      <button class="btn btn-success">
        Create Suggestion
      </button>
      or
      <a href="/suggestions">Cancel</a>
    </form>
  </div>
</div>
